<app-burger-menu></app-burger-menu>


<main>
    
    <div class="content">
        <app-header variant="special"></app-header>
        <div class="link-go-back-div">
            <a href="#"><img class="arrow-back" src="./assets/img/single_project_view/arrow_back.png" alt=""></a>
            <a *ngIf="isEnglish; else germanText" class="go-back-link" href="#">Go Back</a>
            <ng-template #germanText><a class="go-back-link" href="#">Zurück</a></ng-template>
        </div>


        <div class="project-content">

            <div class="project-content-left">
                <div class="animation-wrapper-div">
                    <h1> {{ project.title }} </h1>
                    <img class="arrow-img" src="./assets/img/single_project_view/animation_underline.png" alt="">
                </div>

                <div class="description">
                    <h2 *ngIf="isEnglish; else germanText1">Description</h2>
                    <ng-template #germanText1>
                        <h2>Beschreibung</h2>
                    </ng-template>
                    <p *ngIf="isEnglish; else germanText2"> {{ project.description }} </p>
                    <ng-template #germanText2>
                        <p> {{ project.descriptionDE }} </p>
                    </ng-template>
                </div>



                <div class="implementation-details">
                    <h2 *ngIf="isEnglish; else germanText3">Implementation Details</h2>
                    <ng-template #germanText3>
                        <h2>Umsetzungsdetails</h2>
                    </ng-template>
                    <p *ngIf="isEnglish; else germanText4"> {{ project.implementation }} </p>
                    <ng-template #germanText4>
                        <p> {{ project.implementationDE }} </p>
                    </ng-template>
                </div>

                <div class="duration">
                    <h3 *ngIf="isEnglish; else germanText5">Duration:</h3>
                    <ng-template #germanText5>
                        <h3>Dauer:</h3>
                    </ng-template>
                    <span *ngIf="isEnglish; else germanText6">{{ project.duration }}</span>
                <ng-template #germanText6>
                    <span>{{ project.durationDE }}</span>
                </ng-template>
                </div>

                <div class="tools">
                    <div class="tool" *ngFor="let tool of project.usedTools">
                        <img src="{{ tool.img }}" alt="">
                        <span>{{ tool.name }}</span>
                    </div>
                </div>

            </div>


            <div class="project-content-right">
                <img class="project-img" src=" {{ project.imgPath }} " alt="">
                <img class="sticker" src=" {{ project.sticker }} " alt="">
                <div class="button-div">
                    <a href="{{ project.github }}" target="_blank" rel="noopener noreferrer"><button>GitHub</button></a>
                    <button>Live Test</button>
                </div>
            </div>

        </div>

        <div class="link-next-project-div">
            <a *ngIf="isEnglish; else germanText7" class="next-project-link" (click)="nextProject()" [routerLink]="['/project']">Next Project</a>
            <ng-template #germanText7><a class="next-project-link" (click)="nextProject()" [routerLink]="['/project']">Nächstes Projekt</a></ng-template>
            <a (click)="nextProject()" [routerLink]="['/project']"><img class="arrow-next"
                    src="./assets/img/single_project_view/arrow_next.png" alt=""></a>
        </div>

        <div class="mobile-buttons-div">
            <div class="go-back">
                <a href="#"><img class="arrow-back" src="./assets/img/single_project_view/arrow_back.png" alt=""></a>
                <a *ngIf="isEnglish; else germanText8" class="go-back-link" href="#">Go Back</a>
                <ng-template #germanText8><a class="go-back-link" href="#">Zurück</a></ng-template>
            </div>
            <div class="next">
                <a *ngIf="isEnglish; else germanText9" class="next-project-link" (click)="nextProject()" [routerLink]="['/project']">Next Project</a>
                <ng-template #germanText9><a class="next-project-link" (click)="nextProject()" [routerLink]="['/project']">Nächstes Projekt</a></ng-template>
                <a (click)="nextProject()" [routerLink]="['/project']"><img class="arrow-next"
                        src="./assets/img/single_project_view/arrow_next.png" alt=""></a>
            </div>
        </div>
    </div>

</main>