<app-burger-menu></app-burger-menu>
<app-header></app-header>
<main>
    <div class="content">

        <div class="link-go-back-div">
            <a href="#"><img class="arrow-back" src="./assets/img/single_project_view/arrow_back.png" alt=""></a>
            <a class="go-back-link" href="#">Go Back</a>
        </div>


        <div class="project-content">

            <div class="project-content-left">
                <div class="animation-wrapper-div">
                    <h1> {{ project.title }} </h1>
                    <img class="arrow-img" src="./assets/img/single_project_view/animation_underline.png" alt="">
                </div>

                <div class="description">
                    <h2>Description</h2>
                    <p> {{ project.description }} </p>
                </div>

                <div class="implementation-details">
                    <h2>Implementation Details</h2>
                    <p> {{ project.implementation }} </p>
                </div>

                <div class="duration">
                    <h3>Duration:</h3>
                    <span>{{ project.duration }}</span>
                </div>

                <div class="tools">
                    <div class="tool" *ngFor="let tool of project.usedTools">
                        <img src="{{ tool.img }}" alt="">
                        <span>{{ tool.name }}</span>
                    </div>
                </div>

            </div>


            <div class="project-content-right">
                <img class="project-img" src=" {{ project.imgPath }} " alt="">
                <img class="sticker" src=" {{ project.sticker }} " alt="">
                <div class="button-div">
                    <button>GitHub</button>
                    <button>Live Test</button>
                </div>
            </div>

        </div>

        <div class="link-next-project-div">
            <a class="next-project-link" (click)="nextProject()" [routerLink]="['/project']">Next Project</a>
            <a (click)="nextProject()" [routerLink]="['/project']"><img class="arrow-next"
                    src="./assets/img/single_project_view/arrow_next.png" alt=""></a>
        </div>

        <div class="mobile-buttons-div">
            <div class="go-back">
                <a href="#"><img class="arrow-back" src="./assets/img/single_project_view/arrow_back.png" alt=""></a>
                <a class="go-back-link" href="#">Go Back</a>
            </div>
            <div class="next">
                <a class="next-project-link" (click)="nextProject()" [routerLink]="['/project']">Next Project</a>
                <a (click)="nextProject()" [routerLink]="['/project']"><img class="arrow-next"
                        src="./assets/img/single_project_view/arrow_next.png" alt=""></a>
            </div>
        </div>
    </div>

</main>