<main>
    <div class="content">

        <div class="content-left">
            <img src="./assets/img/about_me/Location.png" alt="">
        </div>

        <div class="content-right">
            <h3>WHO'S JAN?</h3>
            <h2>About me</h2>
            <img class="animation-blue-line" src="./../../assets/img/about_me/animation_blue_line.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, qui eligendi. Enim inventore vitae unde,
                repudiandae amet nihil. Repellat blanditiis beatae dolore totam ex, repellendus dolores nisi. Aliquam,
                vero
                perspiciatis.</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            <button>Let's talk</button>
        </div>
    </div>

</main>