<main>
    <div class="content">

        <div class="content-left">
            <div class="stripe-div">
                <img class="stripe-img" src="./assets/img/about_me/stripe_yellow.png" alt="">
                <div class="stripe-content" id="content-yellow">
                    <img class="content-img" src="./assets/img/about_me/locate.png" alt="">
                    <p class="content-text">Based in Ludwigsburg</p>
                </div>
            </div>
            <div class="stripe-div" id="stripe-div-blue">
                <img class="stripe-img" src="./assets/img/about_me/stripe_blue.png" alt="">
                <div class="stripe-content" id="content-blue">
                    <img class="content-img" src="./assets/img/about_me/relocation.png" alt="">
                    <p class="content-text">Open to relocate</p>
                </div>
            </div>
            <div class="stripe-div">
                <img class="stripe-img" src="./assets/img/about_me/stripe_red.png" alt="">
                <div class="stripe-content" id="content-red">
                    <img class="content-img" src="./assets/img/about_me/remote.png" alt="">
                    <p class="content-text">Open to work remote</p>
                </div>
            </div>
        </div>

        <div class="content-right">
            <h3>WHO'S JAN?</h3>
            <h2>About me</h2>
            <img class="animation-blue-line" src="./assets/img/about_me/animation_blue_line.png" alt="">
            <p>
                Hi, ich bin Jan. Programmieren ist für mich ein kreativer Prozess, bei dem jede
                Herausforderung die Chance bietet, nach immer effizienteren und
                eleganteren Lösungen zu suchen.
                Meine Vielfalt an Erfahrungen motiviert mich täglich, Neues
                auszuprobieren und innovative Projekte zu realisieren.
                <br>
                Lass uns gemeinsam an coolen Projekten tüfteln und etwas richtig Außergewöhnliches aufbauen!
            </p>
            <a href="#contact"><button>Let's talk</button></a>
        </div>
    </div>

</main>