main {
    font-family: 'Bricolage Grotesque';
    height: 720px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 144px;
    margin-bottom: 144px;

    .content-left {
        height: 400px;
        max-width: 560px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .stripe-div {
            height: 152px;
            max-width: 560px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .stripe-img {
                height: 180px;
                width: 560px;
                position: absolute;
            }

            .stripe-content {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                position: absolute;
                gap: 16px;
                width: 100%;

                .content-img {
                    height: 40px;
                    width: 40px;
                }

                .content-text {
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 28.8px;
                    letter-spacing: 0%;
                    color: #F8F9FA;
                }
            }
        }

        #content-yellow {
            transform: rotate(-1deg);
            margin-bottom: 28px;
        }

        #content-red {
            transform: rotate(5deg);
            margin-bottom: 20px;
        }
    }

    .content-right {
        display: flex;
        flex-direction: column;
        max-width: 560px;
        position: relative;

        h3 {
            font-size: 20px;
            font-weight: 500;
            line-height: 20px;
            color: #0E1013;
            margin-bottom: 16px;
        }

        h2 {
            font-size: 64px;
            font-weight: 700;
            line-height: 64px;
        }

        .animation-blue-line {
            margin-bottom: 48px;
            width: 303px;
            animation: slideLeftRight 4s infinite;
        }

        p {
            font-size: 20px;
            font-weight: 400;
            width: 100%;
        }

        button {
            font-family: 'Bricolage Grotesque';
            display: flex;
            align-items: center;
            position: absolute;
            font-size: 18px;
            padding: 12px 24px;
            right: 0;
            bottom: 0;
            margin-top: 48px;
            width: fit-content;
            height: 40px;
            border-radius: 100px;
            border: 1px solid #0E1013;
            box-shadow: 2px 4px 0px 0px #000000;
            background-color: transparent;
            cursor: pointer;

            &:hover {
                background-color: #F87A55;
                box-shadow: none;
                transform: translateY(+4px) translateX(+6px);
            }
        }
    }
}


@keyframes slideLeftRight {
    0% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }

    20% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    70% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    80% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }

    100% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
}


@media (max-width:1400px) {
    .content {
        margin-left: 64px;
        margin-right: 64px;
    }
}

@media (max-width:1300px) {

    .content {
        .content-left {
            max-width: 520px;

            .stripe-div {
                max-width: 520px;
                width: 100%;

                .stripe-img {
                    width: 520px;
                }

                .stripe-content {
                    .content-text {
                        font-size: 20px;
                    }
                }
            }
        }

        .content-right {
            max-width: 520px;
        }
    }


    @media (max-width:1200px) {
        .content {
            .content-left {
                max-width: 460px;

                .stripe-div {
                    max-width: 460px;
                    width: 100%;

                    .stripe-img {
                        width: 460px;
                    }

                    .stripe-content {
                        .content-text {
                            font-size: 20px;
                        }
                    }
                }
            }

            .content-right {
                max-width: 460px;

                .animation-blue-line {
                    margin-bottom: 28px;
                }
            }
        }
    }


    @media (max-width: 1090px) {
        .content {
            .content-left {
                max-width: 380px;

                .stripe-div {
                    max-width: 380px;
                    width: 100%;

                    .stripe-img {
                        width: 380px;
                    }

                    .stripe-content {
                        .content-text {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }


    @media (max-width:990px) {
        main {
            height: fit-content;
        }

        .content {
            flex-direction: column-reverse;
            align-items: center;
            padding-top: 88px;
            margin-bottom: 88px;

            .content-left {
                height: fit-content;

                .stripe-div {
                    height: 128px;

                    .stripe-img {
                        height: 160px;
                        width: 540px;
                        position: absolute;
                    }

                    .stripe-content {
                        width: 80%;

                        .content-img {
                            height: 40px;
                            width: 40px;
                        }
                    }
                }
            }

            .content-right {
                max-width: 540px;
                width: 100%;
                margin-bottom: 40px;

                h3 {
                    font-size: 18px;
                    line-height: 100%;
                    letter-spacing: 0%;
                }

                h2 {
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 100%;
                }

                .animation-blue-line {
                    margin-bottom: 32px;
                    width: 227px;
                }

                p {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 100%;
                }

                a {
                    display: flex;
                    justify-content: flex-end;
                    text-decoration: none;

                    button {
                        position: unset;
                        border: 1px solid #0E1013;
                        box-shadow: none;
                        margin-top: 32px;
                    }
                }

            }
        }
    }

    @media (max-width:624px) {
        .content {
            .content-left {
                .stripe-div {
                    .stripe-img {
                        width: 480px;
                    }
                }
            }
        }
    }

    @media (max-width:560px) {
        main {
            height: auto;
        }

        .content {
            margin-left: 16px;
            margin-right: 16px;
            margin-bottom: 88px;

            .content-left {
                height: 304px;
                align-items: center;

                .stripe-div {
                    height: 128px;
                    width: 343px;

                    .stripe-img {
                        height: 128px;
                        width: 343px !important;
                        position: absolute;
                    }
                }
            }

            .content-right {
                width: 343px;
            }
        }
    }
}