main {
    font-family: 'Bricolage Grotesque';
    height: 720px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 144px;
    margin-bottom: 144px;

    .content-left {
        height: 400px;
        width: 560px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .stripe-div {
            height: 152px;
            max-width: 560px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .stripe-img {
                height: 180px;
                width: 560px;
                position: absolute;
            }

            .stripe-content {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                position: absolute;
                gap: 16px;
                width: 100%;

                .content-text {
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 28.8px;
                    letter-spacing: 0%;
                    color: #F8F9FA;
                }
            }
        }

        #content-yellow {
            transform: rotate(-1deg);
            margin-bottom: 28px;
        }

        #content-red {
            transform: rotate(5deg);
            margin-bottom: 20px;
        }
    }

    .content-right {
        display: flex;
        flex-direction: column;
        max-width: 560px;
        position: relative;

        h3 {
            font-size: 20px;
            font-weight: 500;
            line-height: 20px;
            color: #0E1013;
            margin-bottom: 16px;
        }

        h2 {
            font-size: 64px;
            font-weight: 700;
            line-height: 64px;
        }

        .animation-blue-line {
            margin-bottom: 48px;
            width: 303px;
            animation: slideLeftRight 4.5s infinite;
        }

        p {
            font-size: 20px;
            font-weight: 400;
            width: 100%;
        }

        button {
            font-family: 'Bricolage Grotesque';
            position: absolute;
            font-size: 18px;
            right: 0;
            bottom: 0;
            margin-top: 48px;
            width: 132px;
            height: 40px;
            border-radius: 100px;
            border: 1px solid #0E1013;
            box-shadow: 2px 4px 0px 0px #000000;
            background-color: transparent;
            cursor: pointer;

            &:hover {
                background-color: #F87A55;
                box-shadow: none;
                transform: translateY(+4px) translateX(+6px);
            }
        }
    }
}

@keyframes slideLeftRight {
    0% {
        /* Start: Alles ist auf der linken Seite (keine Breite) */
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }

    20% {
        /* Mitte: Das gesamte Element ist sichtbar */
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    70% {
        /* Mitte: Das gesamte Element ist sichtbar */
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    80% {
        /* Ende: Wieder nur der linke Rand (unsichtbar) */
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }

    100% {
        /* Ende: Wieder nur der linke Rand (unsichtbar) */
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
}