<main>
    <div class="content">

        <div class="upper-content">
            <div class="animation-div">
                <img class="animation-blue-arrow" src="./assets/img/colleagues_thoughts/animation_blue_arrow.png" alt="">
                <h3>IN THEIR WORDS:</h3>
            </div>
            <h2>Colleagues' Thoughts</h2>
        </div>

        <div class="lower-content">
            <div id="card3" class="card-div">
                <img class="card" src="./assets/img/colleagues_thoughts/card_orange.png" alt="">
                <img class="card-hovereffect" src="./assets/img/colleagues_thoughts/card_hovereffect.png" alt="">
                <div class="colleague">
                    <p class="colleague-thoughts">
                        Lorem ipsum dolor sit
                        amet, consectetur adipisicing elit. Incidunt
                        ratione
                        asperiores possimus
                        voluptas quos ea fugiat
                    </p>
                    <div class="colleague-info">
                        <div>
                            <p class="colleague-name">Mike Schauber</p>
                            <p class="colleague-job">Frontend Developer</p>
                        </div>
                        <div>
                            <img src="./assets/img/colleagues_thoughts/logo_linked_in.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div id="card2" class="card-div">
                <img class="card" src="./assets/img/colleagues_thoughts/card_orange.png" alt="">
                <img class="card-hovereffect" src="./assets/img/colleagues_thoughts/card_hovereffect.png" alt="">
                <div class="colleague">
                    <p class="colleague-thoughts">
                        Lorem ipsum dolor sit
                        amet, consectetur adipisicing elit. Incidunt
                        ratione
                        asperiores possimus
                        voluptas quos ea fugiat
                    </p>
                    <div class="colleague-info">
                        <div>
                            <p class="colleague-name">Mike Schauber</p>
                            <p class="colleague-job">Frontend Developer</p>
                        </div>
                        <div>
                            <img src="./assets/img/colleagues_thoughts/logo_linked_in.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div id="card1" class="card-div">
                <img class="card" src="./assets/img/colleagues_thoughts/card_orange.png" alt="">
                <img class="card-hovereffect" src="./assets/img/colleagues_thoughts/card_hovereffect.png" alt="">
                <div class="colleague">
                    <p class="colleague-thoughts">
                        Lorem ipsum dolor sit
                        amet, consectetur adipisicing elit. Incidunt
                        ratione
                        asperiores possimus
                        voluptas quos ea fugiat
                    </p>
                    <div class="colleague-info">
                        <div>
                            <p class="colleague-name">Mike Schauber</p>
                            <p class="colleague-job">Frontend Developer</p>
                        </div>
                        <div>
                            <img src="./assets/img/colleagues_thoughts/logo_linked_in.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>