main {
    font-family: 'Bricolage Grotesque';
    color: #0E1013;
    margin-top: 144px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 144px;
    width: 100%;
    max-width: 1200px;
}

.upper-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    gap: 16px;
    margin-bottom: 48px;

    .animation-div {
        display: flex;
        flex-direction: row;

        .animation-blue-arrow {
            margin-right: 16px;
            animation: slideRightLeft 3.5s infinite;
        }
    }

    h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0%;
    }

    h2 {
        font-weight: 700;
        font-size: 64px;
        line-height: 64px;
        letter-spacing: 0%;
        margin-bottom: 48px;
    }
}

.lower-content {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 403px;

    .card-div {
        width: 512px;
        height: 320px;
        position: relative;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            .card-hovereffect {
                opacity: 1;
            }
        }

        .card {
            position: absolute;
            width: 512px;
            height: 320px;
        }

        .card-hovereffect {
            position: absolute;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        .colleague {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            align-content: space-between;
            position: relative;
            height: 100%;
            padding: 48px 40px;

            .colleague-thoughts {
                width: 100%;
                font-weight: 400;
                font-size: 18px;
                line-height: 21.6px;
                letter-spacing: 0%;

            }

            .colleague-info {
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                width: 432px;
                font-weight: 400;
                font-size: 18px;
                line-height: 21.6px;
                letter-spacing: 0%;

                img {
                    transform: rotate(4deg);
                }
            }

            .colleague-name {
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 0%;
            }

            .colleague-job {
                font-weight: 500;
                font-size: 16px;
                line-height: 19.2px;
                letter-spacing: 0%;
            }

            img:hover {
                cursor: pointer;
                filter: invert(100%);
            }
        }
    }
}

#card1 {
    position: absolute;
    left: 0;
    transform: rotate(-4deg);
    padding-bottom: 24px;

    &:hover {
        z-index: 2;

        .colleague-info {
            color: white;
        }
    }
}

#card2 {
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 24px;

    &:hover {
        z-index: 2;

        .colleague-info {
            color: white;
        }
    }
}

#card3 {
    position: absolute;
    right: 0;
    transform: rotate(4deg);
    padding-bottom: 24px;

    &:hover {
        z-index: 2;

        .img {
            color: white;
        }

        .colleague-info {
            color: white;
        }
    }
}

@media (max-width: 1240px) {
    .lower-content {
        .card-div {
            width: 327px;
            height: 343px;

            .card {
                width: 327px;
                height: 343px;
            }

            .colleague {
                padding: 16px;

                .colleague-info {
                    max-width: 279px;
                }
            }

            .card-hovereffect {
                width: 327px;
                height: 343px;
            }
        }
    }
}

@media (max-width: 990px) {

    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 343px;
    }

    .upper-content {
        width: 343px;
        margin-bottom: 32px;
        justify-content: flex-end;
        text-align: end;
    
        .animation-div {
            display: flex;
            flex-direction: row;
    
            .animation-blue-arrow {
                margin-right: 8px;
            }
        }
    
        h3 {
            font-size: 18px;
        }
    
        h2 {
            font-weight: 700;
            font-size: 48px;
            line-height: 64px;
            letter-spacing: 0%;
            margin-bottom: 32px;
        }
    }

    .lower-content {
      flex-direction: column-reverse;
      align-items: center;
      height: auto;
      width: 100%;
    }
  
    #card1 {
      position: relative;
      transform: rotate(-4deg);
      left: 0;
      top: 0;
      right: 0;
      padding-bottom: 0px;
      padding-top: 0;
    }

    #card2 {
        position: relative;
        transform: none;
        left: 0;
        top: 0;
        right: 0;
        padding-bottom: 0px;
        padding-top: 0;
    }

    #card3 {
        position: relative;
        transform: rotate(4deg);
        left: 0;
        top: 0;
        right: 0;
        padding-bottom: 0px;
        padding-top: 0;
    }
  }
  

@keyframes slideRightLeft {
    0%,
    85%,
    100% {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
    5%,
    70% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}