<main>
    <div class="content">

        <div class="upper-content">
            <div class="animation-div">
                <img class="animation-blue-arrow" src="./assets/img/colleagues_thoughts/animation_blue_arrow.png"
                    alt="">
                <h3>IN THEIR WORDS:</h3>
            </div>
            <h2>Colleagues' Thoughts</h2>
        </div>

        <div class="lower-content">
            <div id="card3" class="card-div">
                <img class="card" src="./assets/img/colleagues_thoughts/card_orange.png" alt="">
                <img class="card-hovereffect" src="./assets/img/colleagues_thoughts/card_hovereffect.png" alt="">
                <div class="colleague">
                    <p class="colleague-thoughts">
                        Lorem ipsum dolor sit
                        amet, consectetur adipisicing elit. Incidunt
                        ratione
                        asperiores possimus
                        voluptas quos ea fugiat
                    </p>
                    <div class="colleague-info">
                        <div>
                            <p class="colleague-name">Mike Schauber</p>
                            <p class="colleague-job">Frontend Developer</p>
                        </div>
                        <div>
                            <img src="./assets/img/colleagues_thoughts/logo_linked_in.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div id="card2" class="card-div">
                <img class="card" src="./assets/img/colleagues_thoughts/card_orange.png" alt="">
                <img class="card-hovereffect" src="./assets/img/colleagues_thoughts/card_hovereffect.png" alt="">
                <div class="colleague">
                    <p class="colleague-thoughts">
                        „Jan is a reliable and competent developer. He mastered the challenging task of creating the
                        dashboard for our task management app with ease and contributed significantly to the success of
                        the project with his precise and efficient approach.“
                    </p>
                    <div class="colleague-info">
                        <div>
                            <p class="colleague-name">Mike Schauber</p>
                            <p class="colleague-job">Frontend Developer</p>
                        </div>
                        <div>
                            <a href="https://www.linkedin.com/in/mike-schauber/" target="_blank"
                                rel="noopener noreferrer"><img src="./assets/img/colleagues_thoughts/logo_linked_in.png"
                                    alt=""></a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="card1" class="card-div">
                <img class="card" src="./assets/img/colleagues_thoughts/card_orange.png" alt="">
                <img class="card-hovereffect" src="./assets/img/colleagues_thoughts/card_hovereffect.png" alt="">
                <div class="colleague">
                    <p class="colleague-thoughts">
                        „Jan writes clean, well-thought-out code and always finds clever solutions. A reliable developer and a great colleague!!“
                    </p>
                    <div class="colleague-info">
                        <div>
                            <p class="colleague-name">Felix Kirmse</p>
                            <p class="colleague-job">Frontend Developer</p>
                        </div>
                        <div>
                            <a href="https://www.linkedin.com/in/felix-kirmse-03a840147/" target="_blank"
                                rel="noopener noreferrer"><img src="./assets/img/colleagues_thoughts/logo_linked_in.png"
                                    alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>