@media (max-width: 1240px) {
    main {
        margin-left: 88px;
        margin-right: 88px;
    }

    .lower-content {
        .card-div {
            width: 327px;
            height: 343px;

            .card {
                width: 327px;
                height: 343px;
            }

            .colleague {
                padding: 16px;

                .colleague-info {
                    max-width: 279px;
                }
            }

            .card-hovereffect {
                width: 327px;
                height: 343px;
            }
        }
    }
}

@media (max-width: 990px) {

    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 540px;
    }

    .upper-content {
        width: 540px;
        margin-bottom: 32px;
        justify-content: flex-end;
        text-align: end;

        .animation-div {
            display: flex;
            flex-direction: row;

            .animation-blue-arrow {
                margin-right: 8px;
            }
        }

        h3 {
            font-size: 18px;
        }

        h2 {
            font-weight: 700;
            font-size: 48px;
            line-height: 64px;
            letter-spacing: 0%;
            margin-bottom: 32px;
        }
    }

    .lower-content {
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
        width: 100%;

        .card-div {
            width: 540px;
            height: 343px;

            .card {
                width: 540px;
                height: 343px;
            }

            .colleague {
                padding: 48px 40px;

                .colleague-info {
                    width: 100%;
                    max-width: 540px;
                }
            }

            .card-hovereffect {
                width: 540px;
                height: 343px;
            }
        }
    }

    #card1 {
        position: relative;
        transform: rotate(-4deg);
        left: 0;
        top: 0;
        right: 0;
        padding-bottom: 0px;
        padding-top: 0;
    }

    #card2 {
        position: relative;
        transform: none;
        left: 0;
        top: 0;
        right: 0;
        padding-bottom: 0px;
        padding-top: 0;
    }

    #card3 {
        position: relative;
        transform: rotate(4deg);
        left: 0;
        top: 0;
        right: 0;
        padding-bottom: 0px;
        padding-top: 0;
    }
}

@media (max-width: 626px) {
    .content {
        width: 452px;
    }

    .upper-content {
        width: 452px;
    }

    .lower-content {

        .card-div {
            width: 452px;

            .card {
                width: 452px;
            }

            .colleague {
                padding: 48px 40px;

                .colleague-info {
                    width: 100%;
                    max-width: 452px;
                }
            }

            .card-hovereffect {
                width: 452px;
            }
        }
    }
}

@media (max-width: 560px) {
    main {
        height: 100%;
    }

    .content {
        width: 343px;
    }

    .upper-content {
        width: 343px;
        margin-bottom: 0;
    }

    .lower-content {

        .card-div {
            width: 343px;

            .card {
                width: 343px;
            }

            .colleague {
                padding: 16px;

                .colleague-info {
                    width: 100%;
                    max-width: 343px;
                }
            }

            .card-hovereffect {
                width: 343px;
            }
        }
    }
}