main {
    background-image: url('./../../assets/img/contact-form/bg_black_paper_rip3.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Bricolage Grotesque';
    color: #F8F9FA;
}

.content {
    margin-top: 144px;
    margin-right: 120px;
    margin-left: 120px;
    height: 560px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .left-content {
        width: 560px;
        position: relative;

        .mobile-sticker {
            display: none;
        }

        .contact-me-header {
            h3 {
                font-weight: 500;
                font-size: 20px;
                line-height: 20px;
                letter-spacing: 0%;
                margin-bottom: 16px;
            }

            h2 {
                font-weight: 700;
                font-size: 64px;
                line-height: 64px;
                letter-spacing: 0%;
                margin-bottom: 48px;
            }

        }

        .contact-me-description {
            font-weight: 400;
            font-size: 18px;
            line-height: 21.6px;
            letter-spacing: 0%;
            text-align: justify;
            margin-bottom: 48px;
        }
    }

    .right-content {
        width: 480px;
        position: relative;

        .desktop-sticker {
            position: absolute;
            right: 0;
            z-index: 2;
        }

        form {
            position: absolute;
            padding-top: 128px;
            height: 560px;
            width: 480px;

            .question {
                font-weight: 500;
                font-size: 24px;
                line-height: 28.8px;
                letter-spacing: 0%;
                margin-left: 24px;
                margin-right: 24px;
            }

            .answer {
                font-weight: 400;
                font-size: 18px;
                line-height: 21.6px;
                letter-spacing: 0%;
                width: 100%;
                border: none;
                background-color: transparent;
                margin-left: 24px;
                margin-right: 24px;
                margin-top: 8px;
                color: #F8F9FA;
            }

            .answer::placeholder {
                font-family: 'Bricolage Grotesque';
                color: #F8F9FA;
            }

            .checkbox {
                display: flex;
                flex-direction: row;
                font-weight: 400;
                font-size: 15px;
                line-height: 18px;
                letter-spacing: 0%;
                margin-top: 40px;

                a {
                    text-decoration: none;
                    color: #3355FF;
                }
            }

            #checkbox {
                width: max-content;
                appearance: none;
                width: 20px;
                height: 20px;
                padding-right: 8px;
                margin-right: 8px;
                margin-top: 2px;
                border: 2px solid #3355FF;
                background-color: transparent;
                display: inline-block;
                position: relative;
                cursor: pointer;
            }

            #checkbox:checked::before {
                content: "✔";
                font-size: 20px;
                color: #f6c418;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            button {
                font-family: 'Bricolage Grotesque';
                position: absolute;
                right: 0;
                bottom: 0;
                box-shadow: 2px 4px 0px 0px #F8F9FA;
                background-color: transparent;
                color: #F8F9FA;
                height: 40px;
                border: 1px solid #F8F9FA;
                border-radius: 100px;
                width: 154px;
                height: 40;
                cursor: pointer;

                &:hover {
                    background-color: #F87A55;
                    box-shadow: none;
                    transform: translateY(+4px) translateX(+6px);
                    transition: ease-in-out 125ms;
                }
            }

            button:disabled {
                background-color: transparent;
                color: #666666;
                cursor: not-allowed;
                opacity: 0.7;
                box-shadow: 2px 4px 0px 0px #666666;
                border: 1px solid #666666;

                &:hover {
                    transform: none;
                }
            }

            .name-div {
                .seperator-hover {
                    height: 1px;
                    background-color: #3355FF;
                    margin-bottom: 16px;
                    margin-top: 16px;
                    opacity: 0;
                }

                &:hover {
                    .seperator {
                        background-color: #3355FF;
                    }

                    .seperator-hover {
                        opacity: 1;
                    }

                    label {
                        color: #F87A55;
                    }
                }

                .error::placeholder {
                    color: red;
                }

                .error::-webkit-input-placeholder {
                    color: red;
                }

                .error:-moz-placeholder {
                    color: red;
                }

                .error:-ms-input-placeholder {
                    color: red;
                }
            }

            .email-div {
                .seperator-blue-first {
                    height: 1px;
                    width: 100%;
                    background-color: #3355FF;
                    position: absolute;
                    bottom: 322px;
                    opacity: 0;
                }

                &:hover {
                    .seperator {
                        background-color: #3355FF;
                    }

                    .seperator-blue-first {
                        opacity: 1;
                    }

                    label {
                        color: #F87A55;
                    }
                }
            }

            .message-div {
                .seperator-blue-second {
                    height: 1px;
                    width: 100%;
                    background-color: #3355FF;
                    position: absolute;
                    bottom: 228px;
                    opacity: 0;
                }

                &:hover {
                    .seperator {
                        background-color: #3355FF;
                    }

                    .seperator-blue-second {
                        opacity: 1;
                    }

                    label {
                        color: #F87A55;
                    }
                }

                .error::placeholder {
                    color: red;
                }

                .error::-webkit-input-placeholder {
                    color: red;
                }

                .error:-moz-placeholder {
                    color: red;
                }

                .error:-ms-input-placeholder {
                    color: red;
                }
            }

            .seperator {
                height: 1px;
                background-color: #F7C518;
                margin-bottom: 16px;
                margin-top: 16px;
            }
        }
    }
}

.desktop-arrow-yellow {
    animation: slideLeftRight 3.5s infinite;
    position: absolute;
    right: 0;
}

.mobile-arrow-yellow {
    display: none;
}

@media (max-width: 1340px) {
    .content {
        max-width: 1100px;
    }
}

@media (max-width: 1240px) {
    .content {
        max-width: 1000px;

        .left-content {
            width: 480px;
        }
    }
}

@media (max-width: 1080px) {
    .content {
        max-width: 900px;

        .left-content {
            width: 440px;
        }

        .right-content {
            width: 400px;

            form {
                width: 400px;
            }
        }
    }
}

@media (max-width: 990px) {
    main {
        height: 1480px;
        width: 100%;
        justify-content: flex-start;
    }

    .content {
        height: 1160px;
        margin-top: 88px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 343px;

        .left-content {
            margin-top: 144px;
            width: 343px;

            .contact-me-header {
                h3 {
                    font-size: 18px;
                }

                h2 {
                    font-size: 48px;
                }
            }

            .mobile-sticker {
                display: flex;
                position: absolute;
                width: 120px;
                right: 0;
                top: -120px;
            }
        }

        .right-content {
            display: flex;
            justify-content: center;
            width: 343px;

            form {
                position: static;
                padding-top: 0px;
                width: 343px;
                height: 448px;

                .answer {
                    max-width: 296px;
                }

                .email-div {
                    &:hover { 
                        .seperator-blue-first {
                            opacity: 0;
                        }
                    }
                }

                .message-div {
                    &:hover { 
                        .seperator-blue-second {
                            opacity: 0;
                        }
                    }
                }

                .checkbox {
                    max-width: 343px;
                    display: flex;
                    align-items: center;

                    #checkbox {
                        min-width: 20px;
                        margin-right: 8px;
                    }
                }
            }
        }

        .seperator-hover {
            display: none;
        }
    }

    .desktop-sticker {
        display: none;
    }

    .desktop-arrow-yellow {
        display: none;
    }

    .mobile-arrow-yellow {
        display: block;
        width: 156px;
        position: absolute;
        bottom: 0;
        left: 16;
        animation: slideLeftRight 3.5s infinite;
    }
}

@keyframes slideLeftRight {

    0%,
    85%,
    100% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }

    15%,
    70% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}