<header [ngClass]="{'special-header': variant === 'special'}">
    <div class="header-content">
        <a href="#contact"><img class="my-logo" (mouseover)="changeLogo()" (mouseleave)="resetLogo()" [src]="logoImgSrc" alt=""></a>
        
        <div class="desktop wrapper-div" id="animate-top-bottom">
            <img class="animation-img" src="./assets/img/header/animation_about_me.png" alt="">
            <a *ngIf="isEnglish; else germanText" class="color-black" href="#aboutMe">About me</a>
            <ng-template #germanText><a href="#aboutMe" class="color-black">Über mich</a></ng-template>
        </div>

        <div class="desktop wrapper-div" id="animate-left-right">
            <img class="animation-img" src="./assets/img/header/animation_skills.png" alt="">
            <a *ngIf="isEnglish; else germanText1" class="color-black" href="#skillSet">Skills</a>
            <ng-template #germanText1><a href="#skillSet">Fähigkeiten</a></ng-template>
        </div>

        <div class="desktop wrapper-div" id="animate-left-right">
            <img class="animation-img" src="./assets/img/header/animation_projects.png" alt="">
            <a *ngIf="isEnglish; else germanText2" href="#projects">Projects</a>
            <ng-template #germanText2><a href="#projects">Projekte</a></ng-template>
        </div>

        <div class="desktop wrapper-div" id="animate-left-right">
            <img class="animation-img" src="./assets/img/header/animation_contact.png" alt="">
            <a *ngIf="isEnglish; else germanText3" href="#contact">Contact</a>
            <ng-template #germanText3><a href="#contact">Kontakt</a></ng-template>
        </div>

        <div class="desktop toggle-language">
            <div (click)="toggleLanguage()" class="wrapper-div-eng">
                <img src="./assets/img/header/hover_square_eng.png" alt="">
                <P [ngStyle]="{color: isEnglish ? activeColor : inactiveColor}">EN</P>
            </div>
            <img class="toggle-img" [src]="toggleImgSrc" alt="">
            <div (click)="toggleLanguage()" class="wrapper-div-de">
                <img src="./assets/img/header/hover_square_de.png" alt="">
                <p [ngStyle]="{color: !isEnglish ? activeColor : inactiveColor}">DE</p>
            </div>
        </div>

        <img (click)="toggleMenu()" class="mobile hamburger-img" src="./assets/img/header/hamburger_menu.png" alt="">
    </div>
</header>