<header>
    <div class="header-content">
        <img src="./assets/img/header/logo_initials.png" alt="">
        <div class="wrapper-div" id="animate-top-bottom">
            <img class="animation-img" src="./assets/img/header/animation_about_me.png" alt="">
            <a href="#aboutMe">About me</a>
        </div>

        <div class="wrapper-div" id="animate-left-right">
            <img class="animation-img" src="./assets/img/header/animation_skills.png" alt="">
            <a href="#skillSet">Skills</a>
        </div>

        <div class="wrapper-div" id="animate-left-right">
            <img class="animation-img" src="./assets/img/header/animation_projects.png" alt="">
            <a href="#projects">Projects</a>
        </div>

        <div class="wrapper-div" id="animate-left-right">
            <img class="animation-img" src="./assets/img/header/animation_contact.png" alt="">
            <a href="#contact">Contact</a>
        </div>

        <div class="toggle-language">
            <div (click)="toggleToEnglish()" class="wrapper-div-eng">
                <img src="./assets/img/header/hover_square_eng.png" alt="">
                <P [ngStyle]="{color: engIsActive ? activeColor : inactiveColor}">EN</P>
            </div>
            <img class="toggle-img" [src]="imgSrc" alt="">
            <div (click)="toggleToGerman()" class="wrapper-div-de">
                <img src="./assets/img/header/hover_square_de.png" alt="">
                <p [ngStyle]="{color: deIsActive ? activeColor : inactiveColor}">DE</p>
            </div>
        </div>
    </div>
</header>