header {
    font-family: 'Bricolage Grotesque';
    position: absolute;
    max-width: 1440px;
    width: 100%;
    color: #FFFFFF;
    transition: all 125ms ease-in-out;
    z-index: 3;

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 72px;
        margin-right: 72px;
        margin-top: 19px;
        margin-bottom: 19px;

        .my-logo {
            width: 64px;
        }

        .wrapper-div {
            height: 42px;
            width: 120px;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                position: absolute;
                text-decoration: none;
                color: #FFFFFF;

                &:hover {
                    cursor: pointer;
                }
            }

            img {
                position: absolute;
            }

        }

        img:hover {
            cursor: pointer;
        }

        .mobile {
            display: none;
        }
    }

    .toggle-language {
        height: 100%;
        width: 100%;
        max-height: 32px;
        max-width: 104px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .toggle-img {
            height: 16px;
            width: 32px;
        }

        .wrapper-div-eng {
            position: relative;
            color: #F87A55;

            img {
                opacity: 0;
                height: 32px;
                width: 32px;
                position: absolute;
                bottom: -8px;
                left: -6px;

                &:hover {
                    opacity: 1;
                }
            }
        }

        .wrapper-div-de {
            position: relative;

            img {
                opacity: 0;
                height: 32px;
                width: 32px;
                position: absolute;
                bottom: -8px;
                left: -6px;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.animation-img {
    height: auto;

    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#animate-top-bottom {
    &:hover {
        .animation-img {
            display: block;
            animation: topToBottom 0.3s forwards;

            opacity: 1;
        }
    }

    &:not(:hover) {
        .animation-img {
            animation: bottomToTop 0.3s forwards;

            opacity: 0;
            transition-delay: 1s;
        }
    }
}

@keyframes topToBottom {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes bottomToTop {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
}


#animate-left-right {
    &:hover {
        .animation-img {
            display: block;
            animation: leftToRight 0.3s forwards;

            opacity: 1;
        }
    }

    &:not(:hover) {
        .animation-img {
            animation: rightToLeft 0.3s forwards;

            opacity: 0;
            transition-delay: 1s;
        }
    }
}

@keyframes leftToRight {
    from {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes rightToLeft {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    to {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
}

@media (max-width:1040px) {
    .desktop {
        display: none !important;
    }

    .mobile {
        display: block !important;
    }
}

@media (max-width:960px) {

    header {
        width: 100%;
        background: linear-gradient(to bottom, #222222, transparent 100%);
        display: flex;
        justify-content: center;

        .header-content {
            max-width: 800px;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }

    .my-logo {
        width: 32px !important;
    }

    .header-content {
        margin-left: 16px !important;
        margin-right: 16px !important;
        margin-top: 16px !important;
        margin-bottom: 16px !important;
    }
}