main {
    max-width: 1440px;
    font-family: 'Bricolage Grotesque';

    .upper-content {
        margin-top: 144px;
        margin-left: 120px;
        margin-right: 120px;
        margin-bottom: 88px;
        display: flex;
        flex-direction: row;
        gap: 80px;

        .headline-div {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h3 {
                font-weight: 500;
                font-size: 20px;
                line-height: 100%;
                letter-spacing: 0%;
                text-transform: uppercase;
                margin-bottom: 16px;
            }

            h2 {
                font-weight: 700;
                font-size: 64px;
                line-height: 100%;
                letter-spacing: 0%;
                margin-bottom: 4px;
            }

            .yellow-underline {
                margin-bottom: 48px;
                width: 260px;
                height: 20px;
                animation: slideLeftRight 3s infinite;
            }
        }

        .project-div {
            .project-img-div {
                position: relative;
                margin-bottom: 48px;
                animation: wobble 2s infinite;

                #blue-sticker {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
            }

            .project-text-div {
                .project-title {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    margin-bottom: 16px;
                }

                .project-description {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    text-align: justify;
                }
            }
        }
    }

    .lower-content {
        margin-left: 120px;
        margin-right: 120px;
        display: flex;
        flex-direction: row;
        gap: 80px;

        .project-div {
            .project-img-div {
                margin-bottom: 48px;
            }

            .project-text-div {
                .project-title {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    margin-bottom: 16px;
                }

                .project-description {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    text-align: justify;
                }
            }
        }
    }
}





@keyframes slideLeftRight {
    0% {
        /* Start: Alles ist auf der linken Seite (keine Breite) */
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }

    15% {
        /* Mitte: Das gesamte Element ist sichtbar */
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    70% {
        /* Mitte: Das gesamte Element ist sichtbar */
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    85% {
        /* Ende: Wieder nur der linke Rand (unsichtbar) */
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }

    100% {
        /* Ende: Wieder nur der linke Rand (unsichtbar) */
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
}


@keyframes wobble {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}