@media (max-width: 1340px) {
    .upper-content {
        gap: 60px;

        .headline-div {
            max-width: 520px;
        }

        .project-div {
            max-width: 520px;

            .project-img {
                width: 520px;
            }
        }
    }

    .lower-content {
        gap: 60px;

        .project-div {
            max-width: 520px;

            .project-img {
                width: 520px;
            }
        }
    }
}

@media (max-width: 1240px) {
    .upper-content {
        gap: 40px !important;
    }

    .lower-content {
        gap: 40px !important;
    }
}

@media (max-width: 1140px) {
    .upper-content {
        margin-top: 88px !important;
        gap: 20px;

        .headline-div {
            max-width: 420px;
        }

        .project-div {
            max-width: 420px;

            .project-img {
                width: 420px;
            }

            #blue-sticker {
                height: 120px;
            }
        }
    }

    .lower-content {
        gap: 20px;

        .project-div {
            max-width: 420px;

            .project-img {
                width: 420px;
            }
        }
    }
}

@media (max-width: 990px) {
    main {
        .upper-content {
            margin-top: 60px !important;
            margin-bottom: 128px;
            flex-direction: column;
            gap: 80px !important;

            .headline-div {
                max-width: 540px;
                width: 100%;

                h3 {
                    font-size: 18px;
                }

                h2 {
                    font-size: 48px;
                }

                .yellow-underline {
                    width: 195px;
                    animation: none;
                }
            }

            .project-div {
                max-width: 540px;
                position: relative;

                .project-img-div {
                    margin-bottom: 32px;

                    img {
                        height: auto;
                        width: 540px;
                    }

                    #blue-sticker {
                        height: 160px;
                        width: 160px;
                    }

                    .overlay {
                        display: none;
                    }

                    &:hover .img-wrapper {
                        transform: none;
                    }

                    .project-img {
                        animation: none;
                    }

                    &:hover .project-img {
                        transform: none;
                    }
                }

                .project-text-div {
                    .project-title {
                        font-size: 20px;
                    }

                    .project-description {
                        margin-bottom: 32px;
                    }
                }

                .mobile-btn {
                    display: block !important;
                }
            }
        }

        .lower-content {
            flex-direction: column;
            gap: 88px !important;

            .project-div {
                position: relative;
                max-width: 540px;
                margin-bottom: 40px;

                .project-img-div {
                    margin-bottom: 32px;

                    img {
                        height: auto;
                        width: 540px;
                    }

                    .overlay {
                        display: none;
                    }

                    &:hover .img-wrapper {
                        transform: none;
                    }

                    &:hover .project-img {
                        transform: none;
                    }
                }

                .project-text-div {
                    .project-title {
                        font-size: 20px;
                    }

                    .project-description {
                        margin-bottom: 32px;
                    }
                }

                .mobile-btn {
                    display: block !important;
                }
            }
        }
    }
}

@media (max-width: 626px) {
    main {
        .upper-content {
            .headline-div {
                max-width: 452px;
            }

            .project-div {
                max-width: 452px;

                .project-img-div {
                    img {
                        width: 452px;
                    }

                    #blue-sticker {
                        height: 140px;
                        width: 140px;
                    }
                }
            }
        }

        .lower-content {
            .project-div {
                max-width: 452px;

                .project-img-div {
                    img {
                        height: auto;
                        width: 452px;
                    }
                }
            }
        }
    }
}

@media (max-width: 560px) {
    main {
        .upper-content {
            .headline-div {
                max-width: 343px;
            }

            .project-div {
                max-width: 343px;

                .project-img-div {
                    img {
                        width: 343px;
                    }

                    #blue-sticker {
                        height: 120px;
                        width: 120px;
                        bottom: 8px;
                    }
                }
            }
        }

        .lower-content {
            .project-div {
                max-width: 343px;

                .project-img-div {
                    img {
                        width: 343px;
                    }
                }
            }
        }
    }
}