main {
    max-width: 1440px;
    font-family: 'Bricolage Grotesque';

    .upper-content {
        margin-top: 144px;
        margin-left: 120px;
        margin-right: 120px;
        margin-bottom: 88px;
        display: flex;
        flex-direction: row;
        gap: 80px;

        .headline-div {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h3 {
                font-weight: 500;
                font-size: 20px;
                line-height: 100%;
                letter-spacing: 0%;
                text-transform: uppercase;
                margin-bottom: 16px;
            }

            h2 {
                font-weight: 700;
                font-size: 64px;
                line-height: 100%;
                letter-spacing: 0%;
                margin-bottom: 4px;
            }

            .yellow-underline {
                margin-bottom: 48px;
                width: 260px;
                height: 20px;
                animation: slideLeftRight 3s infinite;
            }
        }

        .project-div {
            .project-img-div {
                position: relative;
                overflow: hidden;
                margin-bottom: 48px;
                border-radius: 20px;

                .img-wrapper {
                    transition: transform 0.5s ease;
                    border-radius: 100px;
                }

                &:hover .img-wrapper {
                    transform: scale(1.05);
                }

                .project-img {
                    animation: wobble 2s infinite;
                }

                &:hover .project-img {
                    transform: scale(1.05);
                    animation: none;
                }

                .overlay {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 50%;
                    background: linear-gradient(to top, rgba(43, 43, 43, 0.8) 0%, transparent 100%);
                    opacity: 0;
                    transition: opacity 0.5s ease;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    padding: 32px;
                    z-index: 2;
                }

                &:hover .overlay {
                    opacity: 1;
                }

                .overlay-button {
                    font-family: 'Bricolage Grotesque';
                    color: #F8F9FA;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 120%;
                    background-color: transparent;
                    width: 172px;
                    height: 40px;
                    gap: 10px;
                    border-radius: 100px;
                    border: 1px solid #F8F9FA;
                    box-shadow: 2px 4px 0px 0px #F8F9FA;
                }

                .overlay-button:hover {
                    cursor: pointer;
                    background-color: #F87A55;
                    box-shadow: none;
                    transform: translateY(+4px) translateX(+6px);
                }

                #blue-sticker {
                    position: absolute;
                    z-index: 3;
                    left: 0;
                    bottom: 32px;
                }
            }

            .project-text-div {
                .project-title {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    margin-bottom: 16px;
                }

                .project-description {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    text-align: justify;
                }
            }
        }
    }

    .lower-content {
        margin-left: 120px;
        margin-right: 120px;
        display: flex;
        flex-direction: row;
        gap: 80px;

        .project-div {
            .project-img-div {
                position: relative;
                overflow: hidden;
                margin-bottom: 48px;
                border-radius: 20px;

                .img-wrapper {
                    transition: transform 0.5s ease;
                    border-radius: 100px;
                }

                &:hover .img-wrapper {
                    transform: scale(1.05);
                }

                &:hover .project-img {
                    transform: scale(1.05);
                }

                .overlay {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 50%;
                    background: linear-gradient(to top, rgba(43, 43, 43, 0.8) 0%, transparent 100%);
                    opacity: 0;
                    transition: opacity 0.5s ease;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    padding: 32px;
                    z-index: 2;
                }

                &:hover .overlay {
                    opacity: 1;
                }

                .overlay-button {
                    font-family: 'Bricolage Grotesque';
                    color: #F8F9FA;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 120%;
                    background-color: transparent;
                    width: 172px;
                    height: 40px;
                    gap: 10px;
                    border-radius: 100px;
                    border: 1px solid #F8F9FA;
                    box-shadow: 2px 4px 0px 0px #F8F9FA;
                }

                .overlay-button:hover {
                    cursor: pointer;
                    background-color: #F87A55;
                    box-shadow: none;
                    transform: translateY(+4px) translateX(+6px);
                }

                #blue-sticker {
                    position: absolute;
                    z-index: 3;
                    left: 0;
                    bottom: 32px;
                }
            }

            .project-text-div {
                .project-title {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    margin-bottom: 16px;
                }

                .project-description {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    text-align: justify;
                }
            }
        }
    }
}




@keyframes slideLeftRight {
    0% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }

    15% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    70% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    85% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }

    100% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
}


@keyframes wobble {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}