<main>
    <div class="content">
        <div class="upper-content">
            <div class="upper-left-content">
                <h3>MY CRAFT</h3>
                <h2>Projects</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis minima repellendus explicabo soluta
                    iure impedit quia, magni sunt ipsam beatae quidem autem officiis quae aut nihil! Doloribus molestias
                    praesentium adipisci.</p>
            </div>
            <div class="upper-right-content">
                <div class="project-join">

                    <div class="hover-div">
                        <!-- Wrapper für Bild 1 -->
                        <div class="img1-wrapper">
                            <img src="./assets/img/projects/thumbnail_join.png" alt="Laptop" class="img1">
                        </div>
                        <img src="./assets/img/projects/sticker_featured_project.png" alt="Bild 2" class="img2">
                        <button class="action-btn">Project details</button>
                    </div>

                    <div class="join-description">
                        <p class="project-header">Join</p>
                        <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop
                            functions, assign users and categories.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="lower-content">

        </div>
    </div>
</main>