<main>
    <div class="content">
        <div class="upper-content">
            <div>
                <h3>MY STACK</h3>
                <div class="wrapper-div">
                    <img class="animation-red-circle" src="./assets/img/skill_set/animation_red_circle.png" alt="">
                    <h2>Skill set</h2>
                </div>
            </div>

            <img src="./assets/img/skill_set/label_white_rip.png" alt="">
            <p>
                Ich habe viel Erfahrung in der Front-End-Entwicklung und arbeite agil an innovativen
                Weblösungen. Dabei bin ich immer offen für Neues und lerne stetig dazu.
            </p>
        </div>
        <div class="lower-content">

            <div class="skill-icons">
                <div>
                    <img src="./assets/img/skill_set/html.png" alt="">
                    <img src="./assets/img/skill_set/css.png" alt="">
                    <img src="./assets/img/skill_set/javascript.png" alt="">
                    <img src="./assets/img/skill_set/typescript.png" alt="">
                    <img src="./assets/img/skill_set/angular.png" alt="">
                </div>
                <div>
                    <img src="./assets/img/skill_set/firebase.png" alt="">
                    <img src="./assets/img/skill_set/git.png" alt="">
                    <img src="./assets/img/skill_set/restapi.png" alt="">
                    <img src="./assets/img/skill_set/scrum.png" alt="">
                    <img class="material-icon" src="./assets/img/skill_set/materialdesign.png" alt="">
                </div>
            </div>

            <img id="sticker" (click)="ripImg()" (mouseover)="changeImg()" (mouseout)="resetImg()" [src]="imageSrc"
                alt="">
        </div>
    </div>
</main>