<main>
    <div class="content">
        <div class="upper-content">
            <div>
                <h3>MY STACK</h3>
                <h2>Skill set</h2>
            </div>

            <img src="/assets/img/skill_set/label_white_rip.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit sed cupiditate, harum enim quam hic
                non officiis sapiente nulla corporis explicabo eaque voluptas repudiandae rerum. Nihil sequi neque
            </p>
        </div>
        <div class="lower-content">

            <div class="skill-icons">
                <div>
                    <img src="/assets/img/skill_set/html.png" alt="">
                    <img src="/assets/img/skill_set/css.png" alt="">
                    <img src="/assets/img/skill_set/javascript.png" alt="">
                    <img src="/assets/img/skill_set/typescript.png" alt="">
                    <img src="/assets/img/skill_set/angular.png" alt="">
                </div>
                <div>
                    <img src="/assets/img/skill_set/firebase.png" alt="">
                    <img src="/assets/img/skill_set/git.png" alt="">
                    <img src="/assets/img/skill_set/restapi.png" alt="">
                    <img src="/assets/img/skill_set/scrum.png" alt="">
                    <img class="material-icon" src="/assets/img/skill_set/materialdesign.png" alt="">
                </div>
            </div>

            <img id="sticker" src="/assets/img/skill_set/sticker_closed.png" alt="">
        </div>
    </div>
</main>