<main>
    <div class="content">
        <div class="upper-content">
            <div class="responsive-div">
                <h3 *ngIf="isEnglish; else germanText">MY STACK</h3>
                <ng-template #germanText>
                    <h3>MEIN STACK</h3>
                </ng-template>
                <div class="wrapper-div">
                    <img class="animation-red-circle" src="./assets/img/skill_set/animation_red_circle.png" alt="">
                    <h2>Skill set</h2>
                </div>
            </div>

            <img src="./assets/img/skill_set/label_white_rip.png" alt="">
            <p *ngIf="isEnglish; else germanText2">I have extensive experience in front-end development and work agilely
                on innovative web solutions. I'm always open to new ideas and constantly learning.</p>
            <ng-template #germanText2>
                <p>Ich verfüge über umfangreiche Erfahrung in der Frontend-Entwicklung und arbeite agil an innovativen
                    Weblösungen. Ich bin stets offen für neue Ideen und lerne ständig dazu.</p>
            </ng-template>
        </div>
        <div class="lower-content">

            <div class="desktop-skill-icons">
                <div>
                    <img src="./assets/img/skill_set/html.png" alt="">
                    <img src="./assets/img/skill_set/css.png" alt="">
                    <img src="./assets/img/skill_set/javascript.png" alt="">
                    <img src="./assets/img/skill_set/typescript.png" alt="">
                    <img src="./assets/img/skill_set/angular.png" alt="">
                </div>
                <div>
                    <img src="./assets/img/skill_set/firebase.png" alt="">
                    <img src="./assets/img/skill_set/git.png" alt="">
                    <img src="./assets/img/skill_set/restapi.png" alt="">
                    <img src="./assets/img/skill_set/scrum.png" alt="">
                    <img class="desktop-material-icon" src="./assets/img/skill_set/materialdesign.png" alt="">
                </div>
            </div>

            <div class="mobile-skill-icons">
                <div>
                    <div class="skill-row">
                        <img src="./assets/img/skill_set/html.png" alt="">
                        <img src="./assets/img/skill_set/css.png" alt="">
                        <img src="./assets/img/skill_set/javascript.png" alt="">
                    </div>
                    <div class="skill-row">
                        <img src="./assets/img/skill_set/typescript.png" alt="">
                        <img src="./assets/img/skill_set/angular.png" alt="">
                        <img src="./assets/img/skill_set/firebase.png" alt="">
                    </div>
                    <div class="skill-row">
                        <img src="./assets/img/skill_set/git.png" alt="">
                        <img src="./assets/img/skill_set/restapi.png" alt="">
                        <img src="./assets/img/skill_set/scrum.png" alt="">
                    </div>
                    <div class="last-skill-row">
                        <img class="mobile-material-icon" src="./assets/img/skill_set/materialdesign.png" alt="">
                    </div>
                </div>
            </div>

            <img id="sticker" (click)="ripImg()" (mouseover)="changeImg()" (mouseout)="resetImg()" [src]="imageSrc"
                alt="">
        </div>
    </div>
</main>