main {
    background-image: url('./../../assets/img/skill_set/bg_black_paper_rip_2png.png');
    background-size: 100% 800px;
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 64px;
    padding-right: 64px;
}

.content {
    height: 458px;
    width: 1200px;
}

.upper-content {
    display: flex;
    flex-direction: row;
    text-align: end;
    gap: 48px;
    margin-bottom: 48px;
    position: relative;

    h3 {
        font-family: 'Bricolage Grotesque';
        color: #F8F9FA;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 20px;
    }

    .wrapper-div {
        height: 80px;
        width: 261px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;


        h2 {
            font-family: 'Bricolage Grotesque';
            color: #F8F9FA;
            font-size: 64px;
            font-weight: 700;
            line-height: 64px;
        }

        .animation-red-circle {
            position: absolute;
            height: 80px;
            width: 261px;
            left: 0;
            top: 0;
            opacity: 1;
            animation: bottomRightToFull 5s infinite;
        }
    }
}

@keyframes bottomRightToFull {
    0% {
        clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%);
    }

    3% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    70% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    80% {
        clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%);
    }

    100% {
        clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%);
    }
}

img {
    height: 144px;
    width: 656px;
}

p {
    color: #0E1013;
    text-align: left;
    font-family: 'Bricolage Grotesque';
    position: absolute;
    height: 66px;
    width: 592px;
    margin-left: 342px;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
}


.lower-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
    gap: 88px;
}

.desktop-skill-icons {
    width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
        width: 96px;
        height: 98px;
        filter: grayscale(100%);

        &:hover {
            filter: grayscale(0%);
            transform: scale(0.8);
        }
    }

    .desktop-material-icon {
        width: 96px;
        height: 144px;
    }

    div {
        width: 100%;
        max-width: 640px;
        display: flex;
        justify-content: space-between;

        :first-child {
            margin-bottom: 32px;
        }
    }
}

#sticker {
    height: 200px;
    width: 200px;
    transform: rotate(8deg);
    cursor: pointer;
}

.mobile-skill-icons {
    display: none;

    img {
        max-width: 96px;
        max-height: 98px;
        width: 100%;
        height: 100%;
        min-width: 72px;
        min-height: 72px;
    }

    .mobile-material-icon {
        max-width: 96px;
        max-height: 144px;
        width: 100%;
        height: 100%;
        min-width: 72px;
        min-height: 98px;
    }
}

@media (max-width: 1040px) {

    main {
        background-size: 100% 900px;
        background-repeat: no-repeat;
        height: 1000px;
        align-items: flex-start;
        padding-top: 88px;
    }

    .upper-content {
        flex-direction: column;
        align-items: flex-end;

        .responsive-div {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            align-items: flex-end;
        }
    }

    .lower-content {
        gap: 32px;
    }

    .desktop-skill-icons {
        justify-content: center;
        width: 100%;

        div {
            justify-content: space-between;
        }
    }

    p {
        color: #0E1013;
        text-align: left;
        font-family: 'Bricolage Grotesque';
        position: absolute;
        height: 66px;
        width: 592px;
        margin-right: 30px;
        margin-top: 210px;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;
    }
}

@media (max-width:820px) {

    main {
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 80px;
        padding-left: 64px;
        padding-right: 64px;
        padding-bottom: 80px;
    }

    .content {
        height: 1160px;
        width: 540px;
    }

    .upper-content {
        img {
            width: 540px;
            height: 180px
        }

        p {
            width: 520px;
            height: 132px;
            padding-left: 44px;
            margin-top: 194px;
        }

        h3 {
            font-size: 18px;
            margin-bottom: 8px;
        }

        .wrapper-div {
            height: 58px;
            width: 188px;

            h2 {
                font-size: 48px !important;
            }

            .animation-red-circle {
                height: 58px;
                width: 188px;
            }
        }
    }

    .lower-content {
        flex-direction: column;
        justify-content: flex-start;
    }

    .desktop-skill-icons {
        display: none;
    }

    .mobile-skill-icons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img {
            margin: 8px;
        }
    }

    .skill-row {
        display: flex;
        justify-content: space-around;
        margin-bottom: 40px;
    }

    .last-skill-row {
        padding-left: 36px;
    }

    #sticker {
        cursor: pointer;
        position: absolute;
        margin-left: 240px;
        margin-top: 480px;
    }
}


@media (max-width: 626px) {

    .upper-content {
        img {
            width: 452px;
            height: 156px;
        }

        p {
            width: 420px;
            height: 132px;
            padding-left: 38px;
            margin-top: 170px;
        }
    }

    .skill-row {
        justify-content: space-between;
    }

    .last-skill-row {
        padding-left: 48px;
    }

    #sticker {
        margin-left: 190px;
    }
}

@media (max-width: 560px) {
.content {
    width: 343px;
    height: 100vh;
}

.upper-content {
    img {
        width: 343px;
        height: 180px;
    }

    p {
        width: 340px;
        margin-top: 174px;
        padding-left: 58px;
    }
}

.skill-row {
    margin-bottom: 0;
}

.last-skill-row {
    padding-left: 0;
}

#sticker {
    margin-left: 120px;
    margin-top: 360px;
}
}