* {
    font-family: 'Bricolage Grotesque';
    display: flex;
    flex-direction: column;
    align-items: center;
}

html {
    height: 100%;
    margin: 0;
}

main {
    background-image: url('./../../assets/img/skill_set/bg_black_paper_rip_2png.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.headline-mobile {
    display: none;
}

.privacy-policy {
    padding-top: 120px;
    padding-bottom: 160px;
    padding-left: 120px;
    padding-right: 120px;
    color: white;
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2 {
        width: fit-content;
        height: fit-content;
        font-weight: 700;
        font-size: 64px;
        line-height: 100%;
        letter-spacing: 0%;
    }

    h3 {
        width: fit-content;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
    }

    a {
        text-decoration: none;
        color: #3355ff;
    }
}

@media (max-width: 1240px) {
    .privacy-policy {
        width: 1100px;
        padding-top: 120px;
        padding-bottom: 160px;
        padding-left: 64px;
        padding-right: 64px;
    }
}

@media (max-width: 1080px) {
    .privacy-policy {
        width: 900px;
    }
}

@media (max-width: 990px) {
    main {
        padding-bottom: 32;
    }
    .privacy-policy {
        max-width: 545px;
        width: 100%;
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: 16px;
        padding-right: 16px;

        h2 {
            font-size: 48px;
        }

        h3 {
            font-size: 20px;
        }
    }
}

@media (max-width: 626px) {
    .headline-desktop {
        display: none;
    }
    .headline-mobile {
        display: block;
    }
    .privacy-policy {
        max-width: 452px;
    }
}

@media (max-width: 500px) {
    .privacy-policy {
        max-width: 380px;
    }
}

@media (max-width: 400px) {
    .privacy-policy {
        max-width: 310px;
        h2 {
            font-size: 40px;
        }
    }
}