<app-burger-menu></app-burger-menu>
<app-header></app-header>
<main>
    <div *ngIf="isEnglish; else germanText" class="privacy-policy">
        <h2>Datenschutzerklärung</h2>
        <br>
        Stand: 22. September 2024
        <br>
        <br>
        <h3>Inhaltsverzeichnis</h3>
        <br>
        <h3>Verantwortlicher</h3>
        <br>
        Jan Steiner<br>
        Gottlob-Spieß-Str. 2/1<br>
        74343 Sachsenheim<br>
        E-Mail-Adresse: jansteiner.dev&#64;proton.me<br>
        Impressum: www.jan-steiner-dev.de/imprint<br>
        <br>

        <h3>Übersicht der Datenverarbeitung</h3>
        <br>
        Die folgende Übersicht fasst die Arten der verarbeiteten Daten und die Zwecke ihrer Verarbeitung zusammen.
        <br>
        <br>
        <h4>Verarbeitete Datentypen</h4>
        <br>
        &#8226; Kontaktdaten (z.B. Name, E-Mail) <br>
        &#8226; Nutzerdaten <br>
        &#8226; Nutzungsdaten (z.B. IP-Adresse, Browsertyp) <br>
        &#8226; Inhaltsdaten (z.B. Nachrichten, Kommentare) <br>
        &#8226; Kommunikationsdaten <br>
        &#8226; Meta-/Kommunikationsdaten <br>
        <br>

        <h4>Kategorien betroffener Personen</h4>
        <br>
        &#8226; Nutzer des Dienstes <br>
        &#8226; Besucher der Website <br>
        <br>
        <h4>Verarbeitungszwecke</h4>
        <br>
        &#8226; Bereitstellung des Dienstes <br>
        &#8226; Verbesserung des Dienstes <br>
        &#8226; Kommunikation mit Nutzern <br>
        &#8226; Analyse und Statistik <br>
        &#8226; Sicherheitsmaßnahmen <br>
        &#8226; Erfüllung rechtlicher Verpflichtungen <br>
        <br>
        <h3>Rechtsgrundlage der Verarbeitung</h3>
        <br>
        <b>Die Verarbeitung personenbezogener Daten erfolgt auf Grundlage der folgenden Rechtsgrundlagen: </b>Wir
        verarbeiten
        Daten auf Grundlage von Einwilligung, vertraglicher Notwendigkeit oder berechtigten Interessen.
        <br>
        <br>
        <b>&#8226; Vertragserfüllung</b>Die Verarbeitung ist zur Erfüllung eines Vertrages mit der betroffenen Person
        erforderlich. <br>
        <b>&#8226; Berechtigte Interessen</b>Die Verarbeitung ist zur Wahrung berechtigter Interessen des
        Verantwortlichen
        erforderlich.
        <br>
        <br>
        <b>Nationale Vorschriften</b> Zusätzlich zur DSGVO können weitere nationale Datenschutzbestimmungen gelten.
        <br>
        <br>
        <b>Hinweis zur DSGVO</b> Nutzer haben bestimmte Rechte im Hinblick auf ihre personenbezogenen Daten gemäß der
        DSGVO.
        <br>
        <br>
        <h3>Sicherheitsmaßnahmen</h3>
        <br>
        Wir ergreifen angemessene Sicherheitsmaßnahmen zum Schutz personenbezogener Daten.

        Dies umfasst technische und organisatorische Maßnahmen zur Verhinderung von unbefugtem Zugriff und Missbrauch.
        <br>
        <br>
        <h3>Internationale Datenübermittlungen</h3>
        <br>
        Wir können personenbezogene Daten in Länder außerhalb der EU/EWR übermitteln.
        <br>
        <br>
        <a
            href="https://commission.europa.eu/law/law-topic/data-protection/international-dimension-data-protection_en?prefLang=de">Europäische
            Kommission: Internationale Dimension des Datenschutzes</a>
        <br>
        <br>
        <h3>Datenspeicherung</h3>
        <br>
        Wir speichern personenbezogene Daten nur so lange, wie es für die Zwecke erforderlich ist.
        <br><br>
        Ausnahmen können aufgrund gesetzlicher Verpflichtungen gelten.
        <br><br>
        Weitere Einzelheiten zur Datenspeicherung und -löschung finden Sie in unseren internen Richtlinien.
        <br><br>
        Wir speichern personenbezogene Daten für die Dauer, die zur Erfüllung der Zwecke, für die wir sie erhoben haben,
        erforderlich ist.
        <br><br>
        Die Speicherdauer beginnt mit der Datenerhebung.
        <br><br>
        Die Daten werden für die in dieser Erklärung genannten Zwecke gespeichert.
        <br>
        <br>
        <br>
        <b>Weitere Hinweise</b>
        <br>
        <b>Aufbewahrungsfristen:</b>
        &#8226; 10 Jahre <br>
        &#8226; 6 Jahre für Geschäftsdaten <br>
        &#8226; 3 Jahre für vertragsbezogene Daten <br>
        <br>
        <br>
        <h3>Rechte der betroffenen Personen</h3>
        <br>
        Betroffene Personen haben nach den Datenschutzgesetzen folgende Rechte:
        <br><br>
        &#8226; Recht auf Widerspruch gegen die Verarbeitung <br>
        &#8226; Recht auf Widerruf der Einwilligung <br>
        &#8226; Recht auf Auskunft <br>
        &#8226; Recht auf Berichtigung <br>
        &#8226; Recht auf Löschung <br>
        &#8226; Recht auf Datenübertragbarkeit <br>
        &#8226; Recht auf Beschwerde bei einer Aufsichtsbehörde. <br>
        <br>
        <br>
        <h3>Online-Dienste</h3>
        <br>
        Wir verarbeiten personenbezogene Daten, wenn Sie unsere Online-Dienste nutzen.
        <br><br>
        <b>Verarbeitete Daten:</b>
        Dies kann Registrierungsdaten, Nutzungsdaten und Kommunikationsdaten umfassen.
        <br><br>
        <b>Kategorien betroffener Personen:</b>
        Nutzer unserer Online-Dienste.
        <br><br>
        <b>Zweck der Verarbeitung:</b>
        Zur Bereitstellung und Verbesserung unserer Dienste.
        <br><br>
        <b>Speicherung und Löschung:</b>
        Die Daten werden so lange gespeichert, wie es erforderlich ist, und
        anschließend gelöscht.
        <br><br>
        <b>Rechtsgrundlage der Verarbeitung:</b>
        Wir verarbeiten Daten auf Grundlage von Einwilligung, vertraglicher
        Notwendigkeit oder berechtigten Interessen.
        <br><br><br>
        <b>Weitere Hinweise</b>
        <br>
        Logfiles: Logfiles können zu Sicherheits- und Analysezwecken erstellt werden.
        <br><br>
        <h3>Kontaktverwaltung</h3>
        <br>
        Wir verarbeiten personenbezogene Daten bei der Verwaltung von Kontakten.
        <br><br>
        <b>Verarbeitete Datentypen:</b> Kontaktdaten und Kommunikationsdaten.
        <br><br>
        <b>Kategorien betroffener Personen:</b> Nutzer, die mit uns interagieren.
        <br><br>
        <b>Zweck der Verarbeitung:</b> Zur Verwaltung und Beantwortung von Anfragen.
        <br><br>
        <b>Speicherung und Löschung:</b> Die Daten werden gemäß den gesetzlichen Anforderungen gespeichert und gelöscht.
        <br><br>
        <b>Rechtsgrundlage der Verarbeitung:</b> Rechtsgrundlage für die Verarbeitung von Kontaktdaten.
        <br><br>

        <b>Kontaktformular</b>

        <b>Die im Kontaktformular angegebenen Daten werden verarbeitet.:</b> Dies kann Name, E-Mail-Adresse und
        Nachrichteninhalt umfassen.
        <br><br>
        <a href="https://datenschutz-generator.de/">Erstellt mit Hilfe des Datenschutz Generators</a>
    </div>

    <ng-template #germanText>

    </ng-template>

    <app-footer></app-footer>
</main>