<main>
    <div class="content">
        <div class="upper-content">
            <div>
                <button>Hello World</button>
                <h1>
                    <p class="capital-letter">F</p>
                    <p class="lowercase-letter">r</p>
                    <p class="lowercase-letter">o</p>
                    <p class="lowercase-letter">n</p>
                    <p class="lowercase-letter">t</p>
                    <p class="lowercase-letter">e</p>
                    <p class="lowercase-letter">n</p>
                    <p class="lowercase-letter">d</p>
                </h1>
            </div>
            <img src="/assets/img/landing_page/picture_person_black_white.png" alt="">
        </div>

        <div class="lower-content">
            <h1>
                <p class="capital-letter">D</p>
                <p class="capital-letter">E</p>
                <p class="capital-letter">V</p>
                <p class="capital-letter">E</p>
                <p class="capital-letter">L</p>
                <p class="capital-letter">O</p>
                <p class="capital-letter">P</p>
                <p class="capital-letter">E</p>
                <p class="capital-letter">R</p>
            </h1>
            <button>Get in Touch</button>
        </div>
    </div>

    <div class="social-link-icons">
        <img src="/assets/img/landing_page/logo_linked_in.png" alt="">
        <img src="/assets/img/landing_page/logo_github.png" alt="">
        <img src="/assets/img/landing_page/logo_mail.png" alt="">
    </div>
</main>