@media screen and (max-width: 1040px) {
    .desktop-social-link-icons {
        display: none;
    }
}

@media screen and (max-width: 960px) {

    main {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .desktop-profile-img-wrapper {
        display: none;
    }

    .mobile-profile-img-wrapper {
        display: flex;
        top: 420px;
        height: 300px;
        width: 250px;

        .mobile-profile-img {
            img {
                height: 300px;
                width: 250px;
            }
        }

        span {
            position: absolute;
            bottom: 16px;
            left: 88px;
            font-family: 'kalam';
            font-weight: 700;
            font-size: 24px;
            line-height: 120%;
            letter-spacing: 0%;
            color: #000000;
        }
    }

    .content {
        height: 821px;
        width: 100%;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 80px;

        h1 {
            font-size: 60px;
            justify-content: center;
            line-height: 100%;
            letter-spacing: 0;
        }
    }

    .upper-content {
        div {
            width: 100%;
        }

        h1 {
            justify-content: flex-start;
        }
    }

    .lower-content {
        button {
            position: absolute;
            margin-bottom: 124px;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 720px) {
    .mobile-profile-img-wrapper {
        top: 520px;

        .mobile-profile-img {
            img {
                width: 204px;
                height: 244px;
            }
        }

        span {
            bottom: 64px;
            left: 72px;
        }
    }
}

@media screen and (max-width: 400px) {
    .content {
        h1 {
            font-size: 48px;
        }
    }

    .mobile-profile-img-wrapper {
        width: auto;
        top: 490px;
    }

    .lower-content {
        button {
            margin-bottom: 180px;
        }
    }
}