.content {
    width: 1200px;
    height: 132px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    color: #F8F9FA;
    font-family: 'Bricolage Grotesque';
    margin-bottom: 56px;

    a {
        text-decoration: none;
        color: #F8F9FA;
        cursor: pointer;
    }

    .footer-links {
        z-index: 2;
    }

    .content-left {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 12px;

        .initials-logo {
            width: 64px;
        }

        .wrapper-div {
            display: flex;
            flex-direction: column;

            .animation-underline {
                position: absolute;
                bottom: 0px;
            }
        }
    }

    .wrapper-div-right {
        height: 84px;
        width: 107px;
        position: relative;
        display: flex;
        justify-content: center;

        img {
            position: absolute;
            top: 0;
            opacity: 0;
            transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
        }

        a {
            padding: 12px 24px;
            border-radius: 100px;
            position: absolute;
            bottom: 0;
            transition: background-color 0.2s ease-in-out, transform 0.5s ease-in-out;
            background-image: linear-gradient(#3355ff, #3355ff);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 0% 100%;
            transition: background-size 0.2s ease-in-out;
        }

        a:hover {
            background-size: 100% 100%;

            +img {
                opacity: 1;
                transform: translateX(+36px) rotate(360deg);
            }

            +.img-mail {
                transform: translateX(+26px) rotate(360deg);
            }
        }
    }

    .wrapper-div-right:last-child {
        text-align: end;
    }
}

.mobile-content {
    display: none !important;
    color: #F8F9FA;

    .upper-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 86px;

        div {
            text-align: end;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .initials-logo {
            height: 40px;
            width: 40px;
        }
    }

    .lower-content {
        height: 72px;
        width: 338px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
    }
}

#animate-left-right {
    &:hover {
        .animation-underline {
            display: block;
            animation: leftToRight 0.3s forwards;

            opacity: 1;
        }
    }

    &:not(:hover) {
        .animation-underline {
            animation: rightToLeft 0.3s forwards;

            opacity: 0;
            transition-delay: 1s;
        }
    }
}

@media (max-width: 1340px) {
    .content {
        max-width: 1100x;
    }
}

@media (max-width: 1240px) {
    .content {
        max-width: 1000px;
    }
}

@media (max-width: 1080px) {
    .content {
        max-width: 900px;
    }
}

@media (max-width: 990px) {
    .content {
        display: none;
    }

    .mobile-content {
        display: flex !important;
        flex-direction: column;
        width: 545px;

        .lower-content {
            width: 100%;
        }

        a {
            text-decoration: none;
            color: #F8F9FA;
        }

    }
}

@media (max-width: 626px) {
    .mobile-content {
        width: 452px;
    }
}

@media (max-width: 500px) {
    .mobile-content {
        width: 380px;
    }
}

@media (max-width: 400px) {
    .mobile-content {
        width: 280px;
    }
}

@keyframes leftToRight {
    from {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes rightToLeft {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    to {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
}