<main>
    <div class="content">
        <div class="content-left">
            <img class="initials-logo" src="./assets/img/header/logo_initials.png" alt="">
            <p>© Jan Steiner 2025</p>
            <div class="wrapper-div" id="animate-left-right">
                <a class="footer-links" href="#">Legal Notice</a>
                <img class="animation-underline" src="./assets/img/footer/animation_yellow_underline.png" alt="">
            </div>
        </div>


        <a href="#">GitHub</a>
        <a href="#">LinkedIn</a>
        <a href="#">Email</a>

    </div>
</main>