<main>
    <div class="content">

        <div class="content-left">
            <img class="initials-logo" src="./assets/img/header/logo_initials.png" alt="">
            <p>© Jan Steiner 2025</p>
            <div class="wrapper-div" id="animate-left-right">
                <a class="footer-links" href="#">Legal Notice</a>
                <img class="animation-underline" src="./assets/img/footer/animation_yellow_underline.png" alt="">
            </div>
        </div>
        <div class="wrapper-div-right">
            <a href="#">GitHub</a>
            <img src="./assets/img/footer/logo_github.png" alt="">
        </div>
    
        <div class="wrapper-div-right">
            <a href="#">LinkedIn</a>
            <img src="./assets/img/footer/logo_linkedin.png" alt="">
        </div>
    
        <div class="wrapper-div-right">
            <a href="#">Email</a>
            <img class="img-mail" src="./assets/img/footer/logo_mail.png" alt="">
        </div>
    </div>
</main>