<main [ngClass]="{'open': isOpen}">
    <div class="content">
        <div class="header">
            <img class="initials-logo" src="./assets/img/header/logo_blue.png" alt="">
            <img class="burger-btn" (click)="toggleMenu()" src="./assets/img/burger_menu/close.png" alt="">
        </div>

        <div class="links">

            <a *ngIf="isEnglish; else germanText1" (click)="toggleMenu()" href="#aboutMe">About me</a>
            <ng-template #germanText1><a (click)="toggleMenu()" href="#aboutMe">Über mich</a></ng-template>
            <a *ngIf="isEnglish; else germanText2" (click)="toggleMenu()" href="#skillSet">Skills</a>
            <ng-template #germanText2><a (click)="toggleMenu()" href="#skillSet">Fähigkeiten</a></ng-template>
            <a *ngIf="isEnglish; else germanText3" (click)="toggleMenu()" href="#projects">Projects</a>
            <ng-template #germanText3><a (click)="toggleMenu()" href="#projects">Projekte</a></ng-template>
            <a *ngIf="isEnglish; else germanText4" (click)="toggleMenu()" href="#contact">Contact</a>
            <ng-template #germanText4><a (click)="toggleMenu()" href="#contact">Kontakt</a></ng-template>
            <div class="mobile toggle-language">
                <div (click)="toggleLanguage()" class="wrapper-div-eng">
                    <img src="./assets/img/header/hover_square_eng.png" alt="">
                    <P [ngStyle]="{color: isEnglish ? activeColor : inactiveColor}">EN</P>
                </div>
                <img class="toggle-img" [src]="toggleImgSrc" alt="">
                <div (click)="toggleLanguage()" class="wrapper-div-de">
                    <img src="./assets/img/header/hover_square_de.png" alt="">
                    <p [ngStyle]="{color: !isEnglish ? activeColor : inactiveColor}">DE</p>
                </div>
            </div>

        </div>

        <div class="footer">
            <div class="social-links">
                <a href="https://www.linkedin.com/in/jan-steiner-4195a6320/" target="_blank"
                    rel="noopener noreferrer"><img src="./assets/img/landing_page/logo_linked_in.png" alt=""></a>
                <a href="https://github.com/Jan2810" target="_blank" rel="noopener noreferrer"><img
                        src="./assets/img/landing_page/logo_github.png" alt=""></a>
                <a href="mailto:jansteiner.dev@proton.com"><img src="./assets/img/landing_page/logo_mail.png"
                        alt=""></a>
            </div>
        </div>
    </div>
</main>